body {
  box-sizing: border-box;
}

button {
  width: 110px;
  height: 40px;
  background-color: var(--secondary-color);
  border: none;
  color: white;
}

:root {
  --primary-color: #f2c641;
  --secondary-color: #40352c;
}
