.filter-panel-content {
  background-color: var(--fondamental-color);
  padding: 20px;

  h2 {
    margin: 20px 0;
  }
}

.filtre {
  position: fixed;
  background-color: var(--fondamental-color);
  top: 70px;
  right: 20px;
  z-index: 1000;
  height: 25px;
  padding: 5px;
}

.active-filters {
  background-color: var(--quinte-color);
}

.filter-overlay {
  position: fixed;
  top: 60px;
  width: 100vw;
  height: calc(100vh - 70px - 60px);
  background-color: var(--fondamental-color);
  display: flex;
  flex-direction: column;
  z-index: 999;
  padding: 20px;
  overflow-y: auto;
  box-sizing: border-box;

  select {
    border: none;
    width: 60vw;
    padding: 5px 5px;
    background-color: white;
  }
}

.filter-actions {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  padding-top: 20px;
  width: 100%;

  .button-classic {
    flex: 1;
    min-width: 150px;
  }
}

/* --- Styles pour les listes de filtres --- */
.vehicle-list,
.power-list,
.plug-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* --- Styles communs pour tous les items de filtre --- */
.vehicle-item,
.power-item,
.plug-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 12px 15px;
  border: 2px solid transparent;
  background-color: white;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;

  input {
    display: none;
  }

  &:hover,
  &.active {
    background-color: var(--quinte-color);

    .vehicle-info span,
    .power-info span,
    .plug-info span {
      color: white;
    }

    .vehicle-info img,
    .power-info img,
    .plug-info img {
      filter: brightness(0) invert(1);
    }
  }

  &.active {
    border-color: var(--seconde-color);
  }
}

.vehicle-info,
.power-info,
.plug-info {
  display: flex;
  align-items: center;
  gap: 15px;

  span {
    color: var(--quinte-color);
    font-weight: 600;
    transition: color 0.3s ease;
  }
}

.vehicle-info img {
  height: 35px;
  width: 40px;
  filter: brightness(0) saturate(100%);
  transition: filter 0.3s ease;
}

.power-info img {
  height: 25px;
  width: 25px;
  filter: brightness(0) saturate(100%);
  transition: filter 0.3s ease;
}

.plug-info img {
  height: 25px;
  width: 25px;
  filter: brightness(0) saturate(100%);
  transition: filter 0.3s ease;
}

.mobile-back-button {
  display: none;
}

@media (max-width: 768px) {
  .filter-panel-content {
    padding-bottom: 40px;
  }

  .mobile-back-button {
    display: block;
  }
}

@media (min-width: 769px) {
    .filter-panel-content {
        height: 100dvh;
    }
}
