.filtre {
  height: 40px;
}

.filter-overlay {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  height: calc(100vh - 70px - 60px - 60px - 20px);
  background-color: var(--fondamental-color);
  display: flex;
  flex-direction: column;
  z-index: 3;
  padding: 10px 30px;
  overflow-y: auto;
}

.filter-overlay select {
  border: none;
  width: 60vw;
  padding: 5px 5px;
  background-color: white;
}

.vehicle-icons button {
  all: unset;
}

.vehicle-icons img {
  height: 30px;
  margin-right: 35px;
}

.confirm-filter button {
  margin-right: 30px;
}
