# --- .env.development.local ---

# Configuration de la base de données
DB_DIALECT=postgres
DB_HOST=localhost
DB_PORT=5432
DB_NAME=p3
DB_USER=p3
DB_PASSWORD=You're passwd

#Mode Synchronisation Sequelize
SEQSYNC_MODE=alter# alter, force for sync database sync in sequelize

# Configuration des logs
LOG_LEVEL=DEBUG# Ou INFO, WARN, ERROR, CRITICAL, DEBUG
LOG_DIR=./logs

# Configuration des notifications (actuellement simulées via console.log)
# EMAIL_HOST=sandbox.smtp.mailtrap.io
# EMAIL_PORT=2525
# EMAIL_USER=
# EMAIL_PASS=

# Configuration du serveur
PORT=3310

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=adresse.exemple@gmail.com
EMAIL_PASS=mot-de-passe

# Client URL (for CORS configuration)
CLIENT_URL=http://localhost:3000

PROJECT_NAME_SPECIFIC_NAME=Watts'Up