#
# .env pour execution dans ide
#

# Configuration de la base de données
DB_DIALECT=postgres
DB_HOST=localhost
DB_PORT=5432
DB_NAME=p3
DB_USER=p3
DB_PASSWORD=You're passwd

#Mode Synchronisation Sequelize
SEQSYNC_MODE=alter# alter, force for sync database sync in sequelize

# Configuration des logs
LOG_LEVEL=DEBUG# Ou INFO, WARN, ERROR, CRITICAL, DEBUG
LOG_DIR=./logs

# Configuration des notifications (actuellement simulées via console.log)
# NOTIFICATION_EMAIL_TO=votre.email@example.com
# NOTIFICATION_WEBHOOK_URL=https://hooks.slack.com/services/T00000000/B00000000/XXXXXXXXXXXXXXXXXXXXXXXX

# Configuration du serveur
PORT=3310

# Client URL (for CORS configuration)
CLIENT_URL=http://localhost:3000

PROJECT_NAME_SPECIFIC_NAME=Watts'Up

#
# .env.backend.local pour execution dans docker LOCAL
#

#NE PAS UTILISER TEL QUEL POUR LE PASSAGE EN PROD, UTILISEZ LES SECRETS !!!

DB_DIALECT=postgres
DB_HOST=postgres_db
DB_PORT=5432
DB_PORT_HOST=5433
DB_NAME=dev
DB_USER=dev
DB_PASSWORD=dev
SEQSYNC_MODE=alter
LOG_LEVEL=INFO
PORT=4002
CLIENT_URL=http://localhost:4001
PROJECT_NAME_SPECIFIC_NAME=Watts'Up

#NE PAS UTILISER TEL QUEL POUR LE PASSAGE EN PROD, UTILISEZ LES SECRETS !!!