.history-accordion {
  margin-top: 2rem;
  border: none;
  background-color: #fff;

  & > summary {
    border: 2px solid var(--fondamental-color);
    background-color: var(--fondamental-color);
    color: white;
    padding: 0.75rem 1rem;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    transition: background-color 0.2s, color 0.2s;
    list-style-position: inside;
  }

  &[open] > summary {
    background-color: white;
    color: var(--fondamental-color);
  }

  .history-content {
    padding: 10px;
    border: 2px solid var(--fondamental-color);
    border-top: none;
    background-color: #fff;
  }

  .history-error {
    color: #dc3545;
  }

  .history-list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}

.history-item-details-accordion {
  & > summary {
    border: 2px solid var(--fondamental-color);
    background-color: white;
    color: var(--fondamental-color);
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    transition: background-color 0.2s, color 0.2s;
    list-style: none;

    &::-webkit-details-marker {
      display: none;
    }
  }

  &[open] > summary,
  &:hover > summary {
    background-color: var(--fondamental-color);
    color: white;
  }

  .history-item-summary {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
    text-align: left;
  }

  .history-item-status-icon {
    font-size: 1.2rem;
  }

  .history-item-date-summary {
    font-size: 0.9rem;
  }

  .history-item-content {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    text-align: left;
    background-color: white;
    border: 2px solid var(--fondamental-color);
    border-top: none;
  }

  .history-item-group {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    font-size: 0.85rem;

    div {
      display: flex;
      justify-content: space-between;
    }

    strong {
      color: var(--quinte-color);
      font-weight: 600;
      margin-right: 0.5rem;
    }
  }

  .history-item-long-text {
    justify-content: flex-start;
    flex-wrap: wrap;

    span {
      word-break: break-all;
    }
  }

  .history-item-errors {
    color: #dc3545;
    font-style: italic;
    font-size: 0.8rem;
  }
}
