.topbar-search {
  display: flex;
  justify-content: space-between;
}

.searchbar {
  padding: 10px;
  background-color: white;
  width: 60vw;
}

.loupe {
  height: 20px;
}

.filtre {
  height: 40px;
}
