@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/*<weight>: Use a value from 100 to 900
<uniquifier>: Use a unique and descriptive class name

    .montserrat-<uniquifier> {
                   font-family: "Montserrat", sans-serif;
                   font-optical-sizing: auto;
                   font-weight: <weight>;
                   font-style: normal;
                 }*/

body {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

/* Styles pour le conteneur des pages qui ne sont pas des overlays (MOBILE) */
.main-page-container {
  position: fixed;
  /* On le décale du haut pour laisser la place au TopBar */
  top: 60px;
  left: 0;
  width: 100%;
  /* On ajuste sa hauteur pour qu'il ne recouvre pas le NavBar en bas */
  height: calc(100vh - 60px - 70px);
  background-color: white;
  z-index: 900;
  overflow-y: auto;
  /* On ajoute un padding pour que le contenu ne soit pas collé aux bords */
  padding: 20px;
  box-sizing: border-box;
}

.button {
  width: 130px;
  height: 40px;
  border: none;
}

.button-classic {
  max-width: 120px;
  padding: 10px;
  min-height: 30px;
  background-color: var(--quinte-color);
  border: none;
  color: white;
  margin: 20px 0;
}

:root {
  --fondamental-color: #f2c641;
  --quinte-color: #40352c;
  --seconde-color: #d9631e;
  --tierce-color: #f2f2f2;
  --quarte-color: #c8f230;
}

h2 {
  font-size: 1.4rem;
  font-weight: 700;
}

h3 {
  font-size: 1rem;
  font-weight: 600;
}

form input:focus {
  outline: none;
}

/* --- NOUVELLES CLASSES POUR LA MISE EN PAGE FLEXBOX (DESKTOP) --- */

/* Conteneur global de l'application */
.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow: hidden; /* Empêche les doubles barres de défilement */
}

/* La zone principale entre le header et le footer */
.main-content-area {
  display: flex;
  flex-direction: row; /* Aligne les enfants (carte et overlay) horizontalement */
  flex-grow: 1; /* Fait en sorte que cette zone prenne toute la hauteur restante */
  overflow: hidden; /* Empêche le contenu de déborder */
}

/* Conteneur pour la carte */
.map-container {
  flex-grow: 1; /* La carte prend toute la place disponible */
  position: relative; /* Nécessaire pour le positionnement interne de Leaflet */
}
