.contact-form {
  padding: 0 20px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-form label {
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--quinte-color);
  margin-top: 50px;
  margin-bottom: 1rem;
}

.contact-form select {
  background-color: var(--fondamental-color);
  color: white;
  border: 0;
  padding: 5px;
}

.contact-form textarea {
  max-width: 98%;
  border: 2px solid var(--fondamental-color);
}

.contact-form textarea::placeholder {
  color: var(--fondamental-color);
}

.contact-form textarea:focus {
  outline: none;
}
