.forgot-password-container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-color: var(--fondamental-color);
  color: white;
  min-height: calc(100vh - 70px - 60px);
}

.forgot-password-container h2 {
  margin-bottom: 1rem;
  color: var(--quinte-color);
}

.forgot-password-container p {
  font-weight: 600;
    line-height: 1.4;
  margin-bottom: 2rem;
  max-width: 500px;
}

.forgot-password-form {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form-group label {
  color: var(--quinte-color);
  font-weight: 500;
}

.form-group input {
  width: 100%;
  box-sizing: border-box;
  background-color: white;
  color: var(--quinte-color);
  border: none;
  padding: 10px;
  font-size: 1em;
  transition: box-shadow 0.3s ease;
}

.form-group input::placeholder {
  color: #999;
}

.form-group input:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--quinte-color);
}

.button-classic {
  max-width: fit-content;
  padding: 10px 15px;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
  box-sizing: border-box;
  transition: all 0.4s ease;
  margin-top: 1rem;
  background-color: var(--quinte-color);
  color: white;
  border: none;
}

.button-classic:hover {
  background-color: var(--seconde-color);
}
