.overlay {
  position: fixed;
  right: 0;
  min-height: calc(100vh - var(--footer-height) - 60px);
  max-height: calc(100vh - var(--footer-height) - 60px);
  box-sizing: border-box;
  width: var(--overlay-width);
  max-width: 500px;
  min-width: 320px;
  transition: transform 0.3s ease-in-out;
  transform: translateX(100%);
  background-color: white;
  overflow-x: hidden;
  z-index: 10;
  display: flex;
  flex-direction: column;
  border: none;
  outline: none;
  margin: 0;
  left: auto;
  padding: 0;
}

.overlay.open {
  transform: translateX(0);
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
  z-index: 11;
  color: var(--quinte-color);
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay .overlay-content {
  overflow-y: auto;
  flex-grow: 1;
  width: 100%;
}
