.navbar-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--fondamental-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  box-sizing: border-box;
  height: 70px;
}

.navbar-container img {
  height: 35px;
}

.navbar-container button {
  all: unset;
}
